#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  margin-bottom: 0;
}
.additional-info p {
  display: inline;
  padding: 0 10px;
}

form{
  margin-top: 60px;
}

button{
  padding: 9px 15px;
  margin-left: 21px;
  background-color: rgb(105, 105, 170);
}